 img {
    max-width: 100%;
    height: auto;

    background-color: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    text-align: center;
    font-size: 1.2rem;
    padding: 0 3rem;
}

main {
    
    max-width: 500px;
    margin: 0 auto;
}

p {
    width: 500px;
    margin: 0 auto;
}

