@media screen and (min-width:426px){
    #menu {
        display: none;
    }

    body header {
        padding: 1.3rem 0.6rem;
    }

     /* #name h1 {
        font-size: 1rem;
    } */

    header .navigation1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-right: 0.5rem;
    }

     .event{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
    }

     div.advert {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        column-gap: 0.5rem;
    }
    #third {
        grid-column: 1/-1; 
    }

    /* Ajustment for the toggle switch */
    label.switch {
        right: 1.1rem;
        top: 17px;
    }

    /* Styling for discover page */

     main.home-grid {
        grid-template: auto/ 1.5fr 2fr;
        max-width: 700px;
     }

     #discover {
        grid-column: 1/3;
     }

     .container1{
        grid-column: 2/3;
     }
     .container2 {
        grid-column: 2/3;
     }
     
     .sidebar{
        grid-column: 1/2;
        grid-row: 2/6;
     }

     body footer p {
        margin: 4rem 4rem;
    }

    /* ------------------ FORM ---------------------*/
    main form {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }

}                                       