@media screen and (min-width:426px){
    #menu {
        display: none;
    }

    body header {
        padding: 1.3rem 0.6rem;
    }

     /* #name h1 {
        font-size: 1rem;
    } */

    header .navigation1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-right: 0.5rem;
    }

     .event{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
    }

     div.advert {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        column-gap: 0.5rem;
    }
    #third {
        grid-column: 1/-1; 
    }

    /* Ajustment for the toggle switch */
    label.switch {
        right: 1.1rem;
        top: 17px;
    }
}