* {
    margin: 0;
    padding: 0;
}
/* body {
    background-color: black;
} */

header {
    color: #FFF;
    display: flex;
    background-color: #153243;
    justify-content: space-between;
    padding: 2rem 0.6rem;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

#name {
    font-size: 0.7rem;
    line-height: 0.8rem;
    width: 60%;
}

main {
    text-align: center;
}

.event {
    border: 1.5px solid  #153243;
    padding: 0.5rem 0.3rem;
}


.event section{
    border: 1px solid gray;
    margin-bottom: 0.3rem;
}

 .weather {
    padding: 2rem 0;
} 

.advert {
    margin-top: 1rem;
    border: 1.5px solid  #153243;
    padding:  0.3rem ;
}

.advert section {
    border: 1px solid  gray;
    margin: 0.3rem 0; 
}

footer {
    text-align: center;
    padding: 1rem 4rem;
    color: #FFF;
    background-color: #3C4142;
    column-gap: 10px;
    margin-top: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Styling the "Join the chamber call to action(cta) button */
.hero-image {
    position: relative;
}

.hero-image .cta {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    background-color:#FF9900 ;
    padding: 1rem;
    color: #000;
    font-size: 1.3rem;
    border-radius: 45px;
}




/* Navigation*/

#menu {
    color: #FFF;
    text-decoration: none;
    font-size: 1.7rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 7px;
}

#menu::before {
    content: "☰";
}

.navigation li {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li a {
    display: block;
    text-decoration: none;
    color: #FFF;
}

#menu.open::before {
    content: "X";
}

.open li {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 2.5rem;
    text-align: center;
}

.open nav ul {
    max-height: 100%;
}

.open a {
    display: block;
}
    
.navigation1 {
    display: none;
    list-style-type: none;
    justify-content: space-between;
}

nav

.navigation1 a {
    text-decoration: none;
    color: #FFF;
}

/* STYLING FOR THE TOGGLE SWITCH */

/* The switch - the box around the slider */

main {
    position: relative;
}
.switch {
    position: absolute;
    display: block;
    width: 50px;
    height: 20px;
    top: 0.3rem;
    right: 0.65rem;
    border: 1px solid white;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #21f360;
}

input:focus + .slider {
    background-color: #21f379;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.windchill-value, button {
    padding: 0.5rem;
}
.windchill-value {
    font-size: 2rem;
}















