* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.socials {
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 10px;
}

.socials-big {
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 10px;
    display: none;
}

header {
    display: grid;
    grid-template: auto/ 1fr 1fr  1.4fr 1.6fr;
    position: relative;
    color: #FFF;
    background-color: #153243;
    align-items: center; 
}

#name h1 {
    font-size: 10px;
}

#name {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 0.4rem;
    line-height: 0.7rem;
    text-align: center; 
}

nav{
    grid-column: 4/5;
    grid-row: 1/2;
}

body {
    margin: 0 5%;
}

main {
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}


main p {
    margin-top: 0.3rem;
    /* font-size: .9rem; */
}

.event {
    padding: 1rem 0.5rem;
}

.event h4 {
    margin-top: 0.5rem;
    color: navy;
    font-size: 1.2rem;
}

.spotlight-section  a {
    font-size: 1.3rem;
    text-decoration: none;
}

#spotlights1  {
    margin-top: 1rem;
    color: navy;
}

#event img {
    display: block;
    margin-top: 2rem;
    border-radius: 8px;
    overflow: hidden;
}

.event section{
    margin-bottom: 0.3rem;
}

 .weather {
    padding: 0.5rem 1rem;
}

.h2-border {
    border-bottom: 0.25px solid white;
}

.advert {
    padding:  0.5rem ;
}

.advert section {
    margin: 0.3rem 0;
}

.spotlights {
    margin-top: 1rem;
    text-align: center;
    color: navy;
}

/*--------temperature forecast part----------*/
.forecasted {
    display: grid;
    grid-template: auto/ repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
}

.current-temp {
    margin-top: 2rem ;
}

.forecast-title {
    color: beige;
    margin-top: 2rem;
    text-align: center
}

.forecasted {
    margin-top: 2rem;
    text-align: center;
    color: #000;
    /* border: 1px solid whitesmoke; */
}
.forecasted h3{
    margin-top: 1rem;
}
.forecasted p {
    font-weight: 700;
}

.forecasted section {
    padding: 2rem;
}

#forecast {
    background-image: url(../../chamber/images/weather.webp);
    color: beige;
    background-position: center;
    background-size: auto;  
}

footer {
    display: grid;
    grid-template: auto/ 1fr 2fr;
    background-color: #3C4142;
    color: beige;
    row-gap: 30px;
    padding: 2rem 2rem; 
}

.foot1 {
    margin-top: 1rem;
}

p.centered-foot {
    grid-column: 1/-1;
}
.email {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    display: block;
}
span.span-foot {
    font-size: 0.8rem;
    font-weight: 200;
    display: block;
}

.foot {
    grid-column: 1/3;
    font-size: 0.8rem;
    text-align: center;
    padding: 0 3rem;
}

.myname {
    font-size: 1.2rem;
}

.para-foot {
    margin-top: 25px;
    border-top: 1px solid ;
    color: beige;
    padding-top: 2rem;
    font-size: larger;
}

img {
    max-width: 100%;
    height: auto;
}

footer div h3 {
    grid-column: 2/3;
    grid-row: 1/2;
}

footer.email {
    grid-column: 4/5;
}

/*---------------- For Socials -------------*/


/* Styling the "Join the chamber call to action(cta) button */
.hero-image {
    position: relative;
}

.hero-image .cta {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    background-color:#FF9900 ;
    padding: 1rem;
    color: #000;
    font-size: 1.3rem;
    border-radius: 45px;
}


/* Navigation*/

#menu {
    max-width: 40px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.7rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.1px solid white;
    position: absolute;
    right:1rem ;
  
}

#menu::before {
    content: "☰";
}

.navigation li {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li a {
    display: block;
    text-decoration: none;
    color: #FFF;
}

#menu.open::before {
    content: "X";
}

.open li {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 4.5rem;
    text-align: center;
}

.open nav ul {
    max-height: 100%;
}

.open a {
    display: block;
}
    
.navigation1 {
    display: none;
    list-style-type: none;
    justify-content: space-between;
}

nav

.navigation1 a {
    text-decoration: none;
    color: #FFF;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p, ol, ul, figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* STYLING FOR THE TOGGLE SWITCH */

/* The switch - the box around the slider */

.switch {
    position: absolute;
    display: block;
    width: 50px;
    height: 20px;
    top: 1rem;
    right: 0.65rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #21f360;
}

input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* WINDCHILL STYLING */


.centered-foot {
    text-align: center;
}
/*-------------- DISCOVER PAGE ---------------- */

.home-grid {
    display: grid;
    max-width: 380px;
    margin: 0 auto;
    column-gap: 0.8rem;
    padding: 0.8rem;
}

div.local-storage {
    display: block;
    margin: 0px auto; 
    text-align: center;
    
    font-size: 1.1rem;
    padding: 1rem;
}

iframe, img {
    max-width: 100%;
}

.box {
   max-width: 380px;
}

div.calender  {
    max-width: 380px;
}

#discover {
    text-align: center;
    margin: 2rem 0;
}

.container1 .box, .container2 .box {
    display: block;
    margin-top: 1rem;
}


.demo-sect, .local-storage{
    margin-top: 2rem;
    padding: 1rem;
    border:  1px solid #777;
    border-radius: 5px;
}

.container1 {
    margin-top: 1rem;
}

.sidebar {
    margin-top: 2rem;
}

.statistics {
   margin-top: 1.3rem;   
}

main .container1 .box img, main .container2 .box img{
    border-radius: 3px;
}

/* footer p {
    margin: 4rem 2rem;
} */

main div.calender {
    margin-top: 1rem;
}

#demographics {
    text-align: center;
}

iframe {
  border: 1px solid #777;
  border-radius: 5px; 
}

div.container1 .box:hover, div.container2 .box:hover{
    transition: 0.5s;
}

div.container1 .box:hover, div.container2 .box:hover {
    transform: scale(0.8);
}


/* --------------- JOIN PAGE ---------------------*/
 
form fieldset {
    border: 1px solid #153243;
    border-radius: 8px;
    margin: 2rem 2% 0 2% ;
    padding: 0.5rem 0;

}

form fieldset legend {
    margin: 0 2rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label.top {
    display: block;
    margin-top: 1rem ;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label.top input{
    display: block;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    width: 100%;
    max-width: 70%;
    border: 1px solid #FF9900; 
}

form label.sidebyside {
    display: block;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

form div  {
    margin: 2rem 2% 0 2% ;
}
form div label.text-area textarea  {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    width: 100%;
    max-width: 70%;
    border: 1px solid #153243;
    font-size: 1.1rem;
}

form .submitBtn  {
    margin: 0 0 0.5rem 2%;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: #FF9900;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: 6px solid rgb(230, 95, 95)  
}

form label.top input:required:valid {
    border-left: 6px solid #21f360;
}

/*------------------ Styling For Thanky You Page ---------------------*/
.chamber-form {
    text-align: center;
    padding: 12rem 0;
    margin: 0 6rem;
}

.chamber-form p {
    margin-top: 4rem;
    font-size: 1.5rem;
}

/*------------------- Styling for Directory Page ---------------------*/


.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
    background-color: #2196F3;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
 }


.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.grid section {
	text-align: center;
    border-radius: 8px;
    height: 400px;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.3rem;
}

.list {
	display: flex;
	flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}

.list section {
	display: grid;
	grid-template-columns:  1fr;
	margin: 0;
	padding:1rem 0.25rem;
    max-width: 900px;
    text-align: center;
}

.list section > * {
	margin: 0.1rem;

}

.list section img {
    /* For smaller viewport */
	display: none;   
} 

.list section h3 {
	font-size: 1rem;

}

.list section:nth-child(even) {
	background-color:white;
}

/* section p {
	font-weight: 600;
	font-size: smaller;
} */

section a {
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: white;
}


h1 {
    padding: 2rem 0;
    text-align: center;
} 

/*------------------- Syling For the Banner --------------------------*/
.banner {
    background-color: #4B0082;
    
}

.banner-content {
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-text {
    
    flex-grow: 1;
    line-height: 1.4;
    font-family: "Quicksand", sans-serif;
}

.banner-close {
    background: none;
    border: none;
    cursor: pointer;
}

.banner-text, .banner-close > span {
    color: white;
}

/* this insures the actual text is going to take the most space it can */




































