@media screen and (min-width: 500px) {
    
    main .hero-section {
        grid-template: auto/ 1fr 1fr;
        text-align: left;
        gap: 3px;
    }

    .hero-section h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hero-section .cta {
        margin: 2rem 0;
    }

    .display  {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 34px;
    }

    .hero-image {
        grid-column: 1/3;
        grid-row: 2/3;
    }


}   