/*-------- Global Styling -------------*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif; 
} 

/*-------------- STYLING FOR THE HOME PAGE ------------------*/

/******* Styling The Header **********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
    border-bottom: 1px solid ;
}

/* .logo h1, .logo1 h1 {
    background-image: linear-gradient(to top right, #DD2476, #FF512F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

nav ul, nav li, header li {
    list-style-type: none;
    text-align: center;
}

nav ul li a, .contact {
    text-decoration: none;
    color: #212121;
}

#menu {
    text-decoration: none;
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

.primaryNav {
    display: none;
}

.navigation {
    display: flex;
}

.navigation a {
    margin:  0.3rem;
    padding: 5px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

/*------------ Styling For Rensponsive Menu --------------*/

#menu::before {
    content: "☰";
}

.navigation1 li {
    display: none;
}

.navigation1 li a {
    display: block;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    color: #212121;
    
}

.navigation1 li a:hover {
    background: white;
    padding: 10px;

}

#menu.open::before {
    content: "X";
}

.open.navigation1 {
    padding: 2rem 1rem;
    background-color: #eee;
    height: 100vh;
}

.open li {
    display: block;
    padding: 1rem;
}

.open a {
    display: block;
}

/* ul.navigation1 li  .red {
    background-color: red;
} */

.open.navigation1 .contact1 {
    background-color: black;
}

/* .open.navigation1 li.contact a {
    background-color: black;
} */

/************ Styling The Hero Section ***********/
.hero-section {
    display: grid;
    margin-top: 1rem;
    padding: 0 0.8rem;
    text-align: center;
}

.hero-section img  {
    margin-top: 1.5rem;
    border-radius: 0 0 10px 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.cta {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
    max-width: 150px;
    margin: 0 auto;
    padding:1rem 0.5rem;
    margin-top: 40px;
}

/************* styling For The Explore Section ************/
.explore-section {
    margin: 4rem 1rem 0 1rem;
    display: grid;
    text-align: center;
    row-gap: 1rem;
}


.explore-section h3, .explore-section p, .image-box {
    margin: 1rem 1rem 0 1rem;
}

.explore-section img {
    margin-top: 0.5rem;
}

/************* Styling for weather section ************/

.weather-section {
    text-align: center;
    margin: 2rem 0.5rem;
    border: 1px solid #eee;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    background: linear-gradient(to bottom left, #FF512F, #DD2476 80%);
    color: beige;
    display: grid;
}

.weather {
    margin-top: 2rem;
}

/*********** Styling For The Footer ******************/

.foot {
    display: grid;
    text-align: center;
    padding: 1rem 4rem ;
    background-color: #eee;
    margin-top: 2rem;
}

.foot p {
    margin-top: 2rem;
}

.attribution h4{
    margin-top: 2rem;
}

.attribution h4 a {
    color: #212121;
}


/*------------------------ STYLING FOR RENTAL PAGE -----------------------------*/

/************ Styling for option section **************/
.option-section {
    display: grid;
    padding:25px 0;
    max-width: 250px;
    margin: 0 auto;
}

.types {
    padding-bottom: 1rem;
}

.types img {
    display: block;
    padding-left: 70px;
}

.container-rentals h1, .container-rentals h2 {
    text-align: center;
    padding-top: 1rem;
}

.types h3 {
    padding-bottom: 10px;
}

.types ul {
    margin-inline-start: 25px;
}


/************ Styling For The Table *********/
table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 2px 5px;
}

table {
    max-width: 960px;
    margin: 0 auto;
    background-color:#323232; 
    color: aliceblue;
}

caption {
    padding:1rem 0;
    background-color: hsl(0, 0%, 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    text-align: center;
}

thead tr {
    background: hsl(0 0% 0% / 0.5);
}

tbody tr:nth-of-type(even) {
    background: hsl(0 0% 0% / 0.1);
}


/*----------------------- STYLING FOR THE RESERVATION PAGE ------------------------*/

/*********** Styling for the agree section **************/

.agree-section {
    padding: 0 1rem;
}

.agree-section h2 {
    text-align: left;
}

.agree-section ul {
    margin-inline-start: 25px;
    margin-top: 12px;
    line-height: 25px;
}

.container-reserv h1 {
    text-align: center;
}

.reserve {
    margin-top: 3rem;
    background-color: #1c2841;
    color: beige;
    border-radius: 4px;
}

.reserve h4 {
    padding: 1rem 0 0 1rem;
}


/*--------------------- STYLING FOR THE CONTACT PAGE -----------------------*/

/*********** Styling For the Container contact section ***********/
.container-contact {
    margin: 0 auto;
}

/************** Styling For the contact section ****************/
.contact-section {
    background: #323232;
    color: #FFFFFF;
}

.contact-section h1 {
    padding: 3rem 0;
    font-size: 3rem;
    text-align: center;
}

.contact-info {
    background-color: #FFFFFF;
    color: #323232;
    padding: 2rem 0.5rem;
}

.contact-info h2 {
    padding-top: 2rem;
}

.contact-info div span {
    font-size: 1rem;
}

.contact-info div {
    padding-top: 1rem;
}

.contact-us {
    width: 100%;
    display: flex;
    align-items: center; 
}

.contact-us span {
    margin: 0 5px;
}

/*************** styling For The Reservation form ***************/

form fieldset {
    border: 1px solid ;
    border-radius: 8px;
    margin: 1rem 2% 0 2% ;
    padding: 0.5rem 0;
}

.field {
    margin-top: 2rem;
}

form fieldset legend {
    margin: 0 2rem;
    padding: 0 1rem;
    /* font-size: 1.2rem; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label.top {
    display: block;
    margin-top: 1rem ;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #66ff00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label.top input, form label.top select{
    display: block;
    padding: 0.75rem 1rem;
    /* border-radius: 4px; */
    width: 100%;
    max-width: 70%;
    border: 1px solid #f0ffff;
    background-color: #1c2841;
    /* color: #f0ffff;   */
    color: white;
}

.sbs {
    display: block;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

form div  {
    margin: 2rem 2% 0 2% ;
}
form div label.text-area textarea  {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    width: 100%;
    max-width: 70%;
    border: 1px solid #f0ffff;
    font-size: 16px;
    background-color: #1c2841;
    color: white;
}

form .submitBtn  {
    margin: 0 0 0.5rem 2%;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: black;
    width: 96%;
    max-width: 20rem;
    color: beige;
    
}

/* form label.top input:required {
    border-left: 6px solid rgb(230, 95, 95)  
} */

form label.top input:required:valid {
    border-left: 6px solid #21f360;
}


/*********** Styling For The contact Form **************/
form label.top1 {
    display: block;
    margin-top: 1rem ;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form label.top1 input{
    display: block;
    padding: 0.75rem 0.9rem;
    border-radius: 2px;
    width: 100%;
    max-width: 70%;
    border: 1px solid #eee;
    background: #eee;
}

/******* Form Contact ******/
.contact-container {
    display: grid;
}

.form-contact fieldset {
    border: none;   
}

.form-contact label {
    color: beige;
}

.form-contact legend {
    color: #eee;
}

.contact-container {
    background: #111D4A;
    border: 1px solid #eee;
}

.form-contact .submitBtn {
    background-color: white;
    font-weight: 700;
    padding-bottom: 1rem;
    color: black;
}

.map {
    width:100%;
    margin-top: 2rem;
}

iframe {
    width: 100%;
}

#submit1 {
    padding: 0.8rem ;
    margin-top: 1rem;
    max-width: 7rem;
}

/*------------ STYLING FOR LINK INDICATOR ------------------*/
nav a:is(:link, :active, :visited).active {
    border-top: 3px solid navy;
}

/*---------------- STYLING FOR THE THANK YOU PAGE ----------------*/
.thanks-container, .confirm-container {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    padding: 14rem 4rem;
}

.thanks-container p {
    font-size: 2rem;
}

/*------------ Styling For Closebale banner --------------*/
.banner {
    background: linear-gradient(to right,#11998E 60%, #38EF7D); 
}

.banner-content {
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-text {
    
    flex-grow: 1;
    line-height: 1.4;
    font-family: "Quicksand", sans-serif;
}

.banner-close {
    background: none;
    border: none;
    cursor: pointer;
}

.banner-text, .banner-close > span {
    color: white;
}

/*------------ STYLING FOR THE ATTRIBUTION PAGE ----------------*/

.container-attributions {
    height: 500px;
    
}

.container-attributions > a {
    display: block;
}












