/*-------- Global Styling -------------*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #323232;
    background-color: #FFFFFF;
}

/*-------------- STYLING FOR THE HOME PAGE ------------------*/

/******* Styling The Header **********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
    border-bottom: 1px solid ;
}

nav ul, nav li, header li {
    list-style-type: none;
    text-align: center;
}

nav ul li a, .contact {
    text-decoration: none;
}

#menu {
    text-decoration: none;
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

.primaryNav {
    display: none;
}

.navigation {
    display: flex;
}

.navigation a {
    padding-right:  0.7rem;
}

/*------------ Styling For Rensponsive Menu --------------*/

#menu::before {
    content: "☰";
}

.navigation1 li {
    display: none;
}

.navigation1 li a {
    display: block;
    font-size: 1.1rem;
}

#menu.open::before {
    content: "X";
}

.open.navigation1 {
    padding: 2rem 1rem;
}

.open li {
    display: block;
    padding: 1rem;   
}

.open a {
    display: block;
}

ul.navigation1 li  .red {
    background-color: red;
}

.open.navigation1 .contact1 {
    background-color: black;
}

.open.navigation1 li.contact a {
    background-color: black;
}

/************ Styling The Hero Section ***********/
.hero-section {
    display: grid;
    margin-top: 1rem;
    padding: 0 0.8rem;
    text-align: center;
}

.hero-section img  {
    margin-top: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.cta {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: black;
    max-width: 150px;
    margin: 0 auto;
    padding:1rem 0.5rem;
    margin-top: 40px;
}

/************* styling For The Explore Section ************/
.explore-section {
    margin: 2rem 1rem 0 1rem;
    display: grid;
    text-align: center;
}

.explore-section h3, .explore-section p, .image-box {
    margin-top: 2rem;
}

/************* Styling for weather section ************/

.weather-section {
    text-align: center;
    margin: 2rem 0.5rem;
    border: 1px solid #eee;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    background: linear-gradient(to bottom left, #FF512F, #DD2476 80%);
    color: beige;
    display: grid;
}

.weather {
    margin-top: 2rem;
}

/*********** Styling For The Footer ******************/

.foot {
    text-align: center;
    padding: 4rem;
    background-color: #eee;
    margin-top: 2rem;
}


/*------------------------ STYLING FOR RENTAL PAGE -----------------------------*/


/************ Styling for option section **************/
.option-section {
    display: grid;
    padding:25px 0;
    max-width: 250px;
    margin: 0 auto;
}

.types {
    padding-bottom: 1rem;
}

.types img {
    display: block;
    padding-left: 70px;
}

.container-rentals h1, .container-rentals h2 {
    text-align: center;
    padding-top: 1rem;
}

.types h3 {
    padding-bottom: 10px;
}

.types ul {
    margin-inline-start: 25px;
}


/************ Styling For The Table *********/
table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 2px 5px;
}

table {
    margin: 0 1rem;
    background-color:#323232; 
    color: aliceblue;
}

caption {
    padding:1rem 0;
    background-color: hsl(0, 0%, 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    text-align: center;
}

thead tr {
    background: hsl(0 0% 0% / 0.5);
}

tbody tr:nth-of-type(even) {
    background: hsl(0 0% 0% / 0.1);
}

/*********** Styling for the agree section **************/

.agree-section {
    padding: 0 1rem;
}

.agree-section h2 {
    text-align: left;
}

.agree-section ul {
    margin-inline-start: 25px;
    margin-top: 12px;
    line-height: 25px;
}

.container-reserv h1 {
    text-align: center;
}








