body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    /* Centers elements on the page*/
    margin: 1rem auto;
}

h1 {
    background-color:lightskyblue ;
    padding: 1rem;
}

main {
    display: grid;
    /*row-gap: 1rem;*/
}

section {
    border:6px solid lightskyblue;
    padding: 0 1rem;
}

footer {
    background-color: lightskyblue;
    padding: 1rem;
}

/*main :nth-child(2){
    margin-top: 10px;
}*/

