/* media for large viewport */
@media screen and (min-width: 481px) {
  
    main {
        grid-template-columns: auto auto;
        gap: 0.5rem;
        /* below defines the width of the "main" to fix width of 960px */
        max-width: 960px;
        /* The below line of code centers the main on the page */   
        margin: 0 auto;
    }

    .hero {
        grid-column: 1/3;
    }

    .label {
        top: 50px;
        left: 50px;
        padding: 2rem 1rem;
    }

    main h2 {
        grid-column: 1/3;  
    }

    footer img {
        display: none;
        margin:1rem auto ;
    }

    #hamburgerBtn {
        display: none;
   }

  .navigation  {
        display:flex ;
        justify-content: space-around;
   } 
   
   .navigation li {
        display: block;
        text-align: center;
   }

   main .google-map {
    grid-column: 1/3;
    grid-row: 4/5;
   }
}